<ion-header>
  <ion-toolbar>
    <ion-title>{{loadedPlant.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="back" >
<div id="name">
</div>
  <ion-slides id="slides" [options]="slideOpts">

    <ion-slide id="slide" *ngFor="let slide of slides">
<div id="container">
<div id="fotowrap">
  <img id="foto" [src]="loadedPlant.bild">
</div>
  <div id="timeline">

  <div *ngFor="let event of loadedPlant.events; let i=index;"  id="block">
    
    <ion-fab-button class="icos" color="secondary">
      <ion-icon  [name]="loadedPlant.eventicon[i]"></ion-icon>
      </ion-fab-button>
  {{event}}

  </div>

  <hr (click)="addevent()"/>
  

</div>

</div>
  

</ion-slide>

</ion-slides>
<div *ngIf="input" id="input">
  
  <label >New Event</label><br><br><br>
  <input id="datum" type="date"><br><br><br>
  <textarea type="textbox" id="event" placeholder="event"></textarea><br>
  <!-- <div id="iconelect" *ngFor="let icon of icons; let x=index;">
  <ion-fab-button id="icos">
    <ion-icon  [name]="icon"></ion-icon>
  </ion-fab-button>
</div> -->
<div id="markiere">
  <ion-fab-button class="icos" color="secondary" *ngFor="let icon of icons, let i=index" [id]="i" (click)="markiere(i)" >
    <ion-icon  [name]="icons[i]"></ion-icon>
    </ion-fab-button>
  {{i}}
</div>
<ion-button id="erstellen" (click)="eventerstellen(i)" color="secondary">Event erstellen</ion-button>

</div>
</ion-content>
