
ion-content{
  --background: none;
  background-image: url('/assets/hintergrund.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  z-index: 0;
}
#datum{
  width: 100%;
}
#event{
  width: 100%;
}
.icos{
  height: 2rem;
  width: 2rem;
  z-index: 20;

}
#ix{
  position: absolute;
  top: 0%;
  left: 85%;
}
#showevent{
  height: 50%;
  position: absolute;
  background-color: white;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 128, 0, 0.678);
    color: rgb(2, 2, 2);
}
#markiere{
  float:left;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.75rem;
}
#iconelect{
  float:left;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
}
#erstellen{
  width: 80%;
}
#input{
  height: 50%;
  position: absolute;
  background-color: white;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 128, 0, 0.678);
    color: rgb(2, 2, 2);
}



#name{

    display: flex;
  align-items: center;
   justify-content: center;
   font-size: larger;
}
#foto{
    width: 70%;
    height: 70%;
    border-radius: 20%;
margin-top: 3%;

}
#fotowrap{
  display: flex;
  
  justify-content: center;
}
hr {
  
    width: 100%;
    height: 0.25rem;
    
    background-color: #154a70;
    position: absolute;
}


#fab{
  height: 2rem;
  width: 2rem;
  z-index: 20;
}
#block{
  float:left;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
}
#adden{
  z-index: 30;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 20%;
}


/* #container{
  display: grid;
  
  grid-template-areas:
  
    'foto foto foto foto foto'
    'line line line line line';
   
} */
#slides{
  height: 80%;
 
}
#slide{
  display: flex;
  align-items: flex-start
}