<ion-header>
  <ion-toolbar>
    <ion-title>{{loadedPlant.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="back" >
<div id="name">
</div>
  <ion-slides id="slides" [options]="slideOpts">

    <ion-slide id="slide" *ngFor="let slide of loadedPlant.bilder, let s=index">
<div id="container">
<div id="fotowrap">
<hr (click)="addevent(s)"/>

<!--   <ion-fab-button id="addslide" (click)="addslide()"><label  for="file">ADD</label></ion-fab-button>
    <ion-fab-button id="addslide" *ngIf="showsavepic" (click)="savepic()">submit</ion-fab-button>

  <div id="slideadd" *ngIf="slideadd">
    <input type="file" id="file"  >
    
  </div> -->
  
  <img id="foto" [src]="loadedPlant.bilder[s]">
</div>

  <div *ngFor="let event of loadedPlant.events[s]; let i=index;"  id="block">
    
    <ion-fab-button (click)="showevent(s,i)" class="icos" color="secondary" >
      
      <ion-icon  [name]="loadedPlant.eventicon[s][i]"></ion-icon>
      </ion-fab-button>
  {{loadedPlant.eventdate[s][i]|date:'dd.MM'}}

  

  

</div>

</div>
  

</ion-slide>

</ion-slides>
<div *ngIf="input" id="input">
  <div id="ix" (click)="addevent()">x</div>
  <label >New Event</label><br><br><br>
  <input id="datum" type="date"><br><br><br>
  <textarea type="textbox" id="event" placeholder="event"></textarea><br>
  <!-- <div id="iconelect" *ngFor="let icon of icons; let x=index;">
  <ion-fab-button id="icos">
    <ion-icon  [name]="icon"></ion-icon>
  </ion-fab-button>
</div> -->
<div id="markiere">
  <ion-fab-button class="icos" color="secondary" *ngFor="let icon of icons, let i=index" [id]="i" (click)="markiere(i)" >
    <ion-icon  [name]="icons[i]"></ion-icon>
    </ion-fab-button>
  {{i}}
</div>
<ion-button id="erstellen" (click)="eventerstellen(i)" color="secondary">Event erstellen</ion-button>

</div>
<div *ngIf="eventclicked" id="showevent"> 
  
  {{loadedPlant.events[wisch][elected]}}
  <ion-button (click)="delevent()">Event Löschen</ion-button>
  <div id="ix" (click)="showevent()">x</div>
  </div>
</ion-content>
