<ion-header>
  <ion-toolbar>
    <ion-title>testing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div >
  <ion-fab-button (click)="presentPopover()" id="icon"  *ngFor="let icon of icons, let i=index" [id]="i"  >
    <ion-icon  name="leaf-outline"></ion-icon>
    </ion-fab-button>
  {{i}}

</div>
<ion-button (click)="adden()" (keydown)="adden()">adden</ion-button>
<input type="text" id="file" /> 
<label for="file" id="label">Upload</label>
<input type="text" (change)="adden()">
</ion-content>
