<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Plant Hub
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <ion-button shape="round" id="stuck" (click)="plantadd()"><ion-icon   name="add-outline"></ion-icon></ion-button>
<ion-list>
  
  <ion-item *ngFor="let plant of plants" [routerLink]="['./', plant.id]">
    <ion-img [src]="plant.imageUrl"></ion-img>
  <ion-label id="lab">{{plant.label}}</ion-label>
  </ion-item>
  <ion-item>
  <ion-label id="lab">Priscilla</ion-label>

    <img src="../../assets/plant.jpg" alt="">

  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  <ion-item>
    second
  </ion-item>
  
</ion-list>

</ion-content>