
.ion-item{
    position:relative;

}
#stuck{
    position: fixed;
    top: 8%;
    z-index: 200;
    width: 100%;
    z-index: 10;
    opacity: 0.8;

}
#lab{
z-index: 300;
position: absolute;
align-items: center;
margin: 2%;
font-size: 37px;
background-color: rgba(0, 0, 0, 0.445);
color: white;
border-radius: 20%;
}