<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Plant Hub
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content id="main">
  
  <ion-button shape="round" id="stuck" (click)="plantadd()"><ion-icon   name="add-outline"></ion-icon></ion-button><br><br>
  <div *ngIf="creating">
    <input type="text" id="pflanzenname" [(ngModel)]="pflanzenname" placeholder="Pflanzenname">
  <input type="file" id="input">

</div>
<ion-list>
  
  <ion-item *ngFor="let plant of plants" [routerLink]="['./', plant.id]">
    <ion-img id="plantbild" [src]="plant.bild"></ion-img>
  <ion-label id="lab">{{plant.name}}</ion-label>
  </ion-item>
  <ion-item>
  </ion-item>
  
  
</ion-list>

</ion-content>